/* Apply flexbox layout to the body
body {
  display: flex;
  flex-direction: column; /* Stack content and footer vertically */
  /* min-height: 100vh; /* Make sure body takes at least the full viewport height */
 /* margin: 0;  Remove default body margin 
} */


main {

  margin-left:40%;

}

main h1,.menutext{
  color: #FFDB33;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
  color:#f9f9f9;
  /* background-color:brown; */
  background-color: #333;
  font-style:italic;

  /* background-image: url(/vite.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background: ; */
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #333; */
  color: white;
  padding: 20px;
}
footer {
  position: absolute;  /* Position the footer at the bottom */
  bottom: 0;           /* Align it to the bottom */
  width: 100%;         /* Make sure the footer spans the full width */
  /* background-color: #333; */
  color: white;
  text-align: center;
  padding: 10px;
  padding: 20px;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


ol {
  list-style-type: decimal !important;  /* Forces numbers to appear */
}

ol li {
  margin: 10px 0; /* Add some space between items */
}

header nav ul{
  display: flex;
  align-items:end;
  justify-content: space-between;
  /* gap : 200; */
}


header nav ul li{
  list-style: none;
  margin: 10px;
}


header nav ul li:hover{
  color: #FFDB33;
  cursor: pointer;
}

